/************************************************/
/*  estilo de ejercicio repaso.html             */
/*  autor: Jesús Martín                         */
/*  fecha:27-10-2023                            */
/*  version: 1.1                                */
/*  comentario: es una receta de brownies       */
/************************************************/

@font-face {
    font-family: titulos;
    src: url(../font/Avalen\ Rekas.ttf);
}

* {box-sizing: border-box;}     /* el width incluye el padding 
                                el espacio en blaco lo coge
                                de dentro del cuadro
                                lo haré sirmpre*/

@font-face {
    font-family: texto;
    src: url();
}

body {background-color:beige;
        background-image: url(../img/q93kqvua1omskrrr8hjovstres-28603ddf31d3fb245c612b0f6c548c53.png);
        background-size: 50%;}

#wrapper {background-color: #caa78f;
        width:80%;                  /* el width va en % */
        margin: auto;
        padding: 10%;
        border-radius: 20px;;}

h1 {border: 2px solid rgb(238, 227, 203);
    text-align: center;
    padding:10px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    font-family:titulos}

h2 {font-family:titulos;}

blockquote {border-left: 3px solid #ebdacf;
            font-style: italic;             /* para pone en cursiva */
            font-weight: bold;              /* para poner en negrita */
            background-color: #806d57;
            padding:10px;                   /* margin y padding pequeñp */
        }

#foto {width:100%;} /* a todo el ancho de donde estas colocada, en este caso, del wrapper */

ol li {margin-bottom: 10px;}

dt{font-weight: bold;
    color: #000000;
    font-size: 1.2em;}

/******************************** gestión de la responsabilidad *******************/

@media only screen and (width<650px) {
    #wrapper {width: 100%;}
}